* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000814;
}

.header > a {
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
}
.header > a:hover {
  color: #48cae4;
}

.header > img {
  height: 100px;
  width: 150px;
  object-fit: contain;
}

.sell-box {
  padding: 40px 80px;
  background-color: #adb5bd;
  display: flex;
}

.left > h1 {
  color: #000814;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-bottom: 30px;
}

input[type="text"] {
  font-size: 25px;
  width: 300px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

form > label {
  font-size: 40px;
}
form > p {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

form > select {
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}

input[type="file"] {
  font-size: 30px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

form > button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.right > h2 {
  font-size: 25px;
  color: #000814;
}

footer {
  background-color: #000814;
  height: 300px;
  display: flex;
  align-items: center;
}

footer > .footer-left {
  color: white;
  padding: 50px 40px;
}

.footer-left > h2 {
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.footer-left > .sep {
  display: flex;
  align-items: center;
}

.sep > input {
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  margin-right: 20px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
}

.sep > .subscribe {
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  color: #000814;
  padding: 10px 0;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.sep > .subscribe:hover {
  background-color: #bbc9df;
  transition: 0.2s;
}

.sep > .subscribe {
  font-family: "Montserrat", sans-serif;
}

footer > .footer-right > h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-bottom: 60px;
}

.footer-right > p {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
}

.footer-right > .edd {
  color: white;
  font-family: "Montserrat", sans-serif;
}
